* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../photo/wrtiting-tools.jpg);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: 2200px;
  background-repeat: no-repeat;
}

header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  input,
  button {
    min-width: 0;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
    margin: 0.1rem;
  }

  input[type="number"] {
    width: 50px;
    text-align: center;
  }

  select {
    width: 110px;
    font-size: 1.75rem;
    padding: 0.21rem 0.45rem;
    margin: 0.1rem;
    text-align: center;
    background-color: white;
    border: none;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  button {
    min-width: 180px;
    cursor: pointer;
    background-color: rgb(0, 146, 114);
    color: white;
  }
}

section.toDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  div.todo {
    min-width: 500px;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin: 0.2rem 0rem;
    transition: all 0.3s ease;
    p {
      background-color: white;
      color: black;
      padding: 0.25rem 0.5rem;
      font-size: 1.75rem;
    }

    p.todo-text {
      min-width: 300px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    p.todo-time {
      min-width: 200px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    button {
      padding: 0.25rem 0.5rem;
      border: none;
      font-size: 2.1rem;
      cursor: pointer;
      color: white;
    }

    button.complete {
      background-color: rgb(27, 216, 27);
    }

    button.trash {
      background-color: red;
    }
  }
}

section div.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;

  button {
    cursor: pointer;
    background-color: rgba(255, 198, 229, 0.76);
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
  }
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

// Calender
section.calender {
  margin: 2rem;
  min-width: 10px;
  max-width: 700px;
  min-height: 300px;
  max-height: 400px;
  background: #fff;
  box-shadow: 30px 20px 20px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  .title {
    color: #6ac13c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    a {
      text-decoration: none;
      background-color: #6ac13c;
      padding: 2px;
      color: white;
    }
  }
  .day {
    ul {
      display: flex;
      justify-content: space-around;
      li {
        list-style-type: none;
        font-weight: bold;
        color: #a8a8a8;
        padding: 1rem 0rem;
      }
    }
  }
  .date ul {
    font-weight: bolder;
    display: block;
    li {
      width: 14.28%;
      height: 36px;
      line-height: 36px;
      list-style-type: none;
      box-sizing: border-box;
      float: left;
      text-align: center;
    }
  }
}

.lightgrey {
  color: #a8a8a8;
}
.darkgrey {
  color: #565656;
}
.green {
  color: #379e00;
}

.mark {
  background-color: rgba(217, 255, 0, 0.5);
  border-radius: 100%;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}

@media screen and (max-width: 500px) {
  header {
    height: 20vw;
  }
  section.toDoList {
    h1 {
      font-size: 2rem;
    }
    form {
      width: 300px;
    }
    div.todo {
      min-width: 270px;
      max-width: 300px;
      p {
        font-size: 1rem;
      }
      p.todo-text {
        min-width: 150px;
      }
      p.todo-time {
        min-width: 120px;
      }
      button {
        font-size: 1.1rem;
      }
    }
  }
}
