* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.back {
  background-color: none;
}

header {
  display: flex;
  background-color: #caf0f8;
  flex-wrap: wrap;
  justify-content: space-between;
  h1 {
    font-weight: bolder;
    font-size: 6rem;
    margin: 1rem 1rem;
  }
  table {
    margin: 1rem 1rem;
  }
}

nav {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #0077b6;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      padding: 1rem;
      a {
        padding: 1rem;
        color: black;
        font-size: 1.8rem;
        text-decoration: none;
      }
    }
  }
}

nav ul li.Hover:hover {
  cursor: pointer;
  background-color: #04459b;
  color: white;
  transition: all 0.5s ease;
}

section.firstPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  section.bigHead {
    margin: 0 5vw;
    img {
      width: 20vw;
      height: 18.5vw;
      margin: 1rem;
    }
  }
  section.describe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    h4 {
      color: #48cae4;
      padding-bottom: 1rem;
    }
  }
}

section.divide {
  background-color: #caf0f8;
  height: 5vh;
}

section.secondPage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  h3 {
    background-color: #00b4d8;
    padding: 0.1rem 1rem;
  }

  section.left {
    margin: 2rem;
  }

  section.right {
    margin: 2rem;
    div.workContent {
      margin-left: 2rem;
      ul.lower li {
        list-style-type: decimal;
      }
    }
  }
}

// RWD
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 3rem;
  }

  p {
    font-size: 0.7rem;
  }

  header img {
    width: 2rem;
  }

  section.firstPage section.bigHead img {
    width: 15rem;
    height: 15rem;
  }
  nav ul li {
    padding: 0.5rem;
    a {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }

  section.secondPage {
    font-size: 0.8rem;
    section.left,
    section.right {
      margin: 0.5rem;
    }
  }
}
